.grid-1{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 30px;
    width: 250px;
    height: 220px;
    margin-top: 40px;

}
.grid-heading{
    margin-left: 90px;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: -1px;
}
.grid-subheading{
    margin-left: 100px;
    margin-top: 10px;
}
#heading{
    margin-left: 550px;
    font-size: 30px;
}
.img-1{
    text-align: center;
    margin-left: 40px;
    /* width: 150px;
    height: 150px; */
}
.grid-2{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -205px;

}
.img-2{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
.grid-3{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -190px;

}
.img-3{
    margin-left: 40px;
}
.grid-4{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -208px;

}
.img-4{
    margin-left: 40px;
}
.grid-5{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 30px;
    width: 250px;
    height: 220px;
    margin-top: 40px;

}
.grid-heading-1{
    margin-left: 90px;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: -1px;
}
.grid-subheading-1{
    margin-left: 100px;
    margin-top: 10px;
}
.img-5{
    text-align: center;
    margin-left: 40px;
    /* width: 150px;
    height: 150px; */
}
.grid-6{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -205px;

}
.img-6{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
.grid-7{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -190px;

}
.img-7{
    margin-left: 40px;
}
.grid-8{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 220px;
    margin-top: -208px;

}
.img-8{
    margin-left: 40px;
}
.grid-9{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 30px;
    width: 250px;
    height: 280px;
    margin-top: 40px;

}
.grid-heading-2{
    margin-left: 90px;
    font-size: 20px;
    /* position: absolute; */
    margin-top: 5px;
    margin-bottom: -1px;
}
.grid-subheading-2{
    margin-left: 100px;
    margin-top: 10px;
}
.img-9{
    text-align: center;
    margin-left: 40px;
    /* width: 150px;
    height: 150px; */
}
.grid-10{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 335px;
    width: 250px;
    height: 280px;
    margin-top: -280px;

}
.img-10{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 10px;
}
.grid-11{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    margin-left: 315px;
    width: 250px;
    height: 280px;
    margin-top: -210px;

}
.img-11{
    margin-left: 40px;
    height: 160px;
    width: 160px;
    margin-top: 30px;
}
.grid-12{
    box-shadow: 0px 0px 3px 0px ;
    border-radius: 1%;
    /* position: absolute; */
    margin-left: 315px;
    width: 250px;
    height: 280px;
    margin-top: -230px;

}
.img-12{
    margin-left: 50px;
    height: 160px;
    width: 160px;
    margin-top: 20px;
}